.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: 100vh;
  width: 100vw;
  /* background-color: #34495e; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  color: #282c34;
}
.navi{
  display: flex;
  height: 100px;
}

/* my css begins */

.Main{
  padding: 0;
  margin: 20px;
  max-height: 200px;
  /* background-color: #282c34; */
  display: flex;
  align-items: center;
  /* width:600px; */
  border-radius:10px;

  /* flex-direction: column; */
}
.main-img{
  border-radius: 30px;
  width: 200px;
  height: 200px;
  padding: 20px;
}
.content{
  margin: 0;
  padding: 0;
  color:#282c34;
}
/* .name{
  position: relative;
  left: 0%;
  top:20px;
} */

.main-des{
  margin: 0;
}

.loc{
  padding:0;
  display: flex;
  
}
.llink{
  position: relative;
  top:20px;
  left: 20px;
  color: #282c34;
}
.loc-img{
  width:20px;
  height: 20px;
  position: relative;
  top:20px;
  left: 20px;
}
.name{
  position: relative;
  top:-40px;
}
.main-des{
  position: relative;
  top:-40px;
}
.date{
  font-size:12px;
  position: relative;
  top:-50px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px;
  background-color: aqua;
  border-radius: 20px;

}
.apiname{
  padding: 2px;
}
.main--container{
  display: flex;
  margin: 20px;

  justify-content: center;
  flex-direction: column;
  width: 500px;

}