
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main--c{
    display: flex;
    flex-direction: row;
    background-color: salmon;
}

.main--con{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace,'Montserrat';
    background-color: #282c34;
    color: azure;
    width:30vw;
    height: 100vh;
    justify-content: center;
}



.main--day{
    font-family: 'Courier New', Courier, monospace,'Montserrat';
    padding-top: 100px;
    font-size: 50px;
    font-weight: 900;
    background-color: rgb(12, 78, 21);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 70vw;
    letter-spacing: .5rem;
}

span{
    padding:35px 0 0 45px;
    height: 100px;
    width: 130px;
    background-color: rgb(58, 130, 224);
    border-radius: .5rem;
    box-shadow:  5px 10px #1d1c1c;
    margin-left: 20px;
}
input {
    border: 2px solid rgb(46, 202, 230);
    border-radius: 4px;
}

.btn{
    position: relative;
    top: 50px;
    right: 150px;
    margin-left: 5px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace,'Montserrat';
    font-size: 15px;
    color: purple;
    text-decoration: darkgray;
}


